{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if task_list|length %}
                <table>
                    <thread>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for task in task_list %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>You have no tasks</p>
                {% endif %}
                </thread>
            </table>
        </div>
    </main>
{% endblock content %}
